@font-face {
    font-family: kanit;
    src: url(NotoSansThaiUI-Regular.ttf);
  }

body{
    font-family: kanit;   
    background-color: #EEF1F9;
}

.body{
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.welcome_text{
    font-size: 40px;
    color: #8C8C8C;
    margin: 0;
}
.wifi_header{
    margin: 0;
    margin-bottom:5px;
    font-size: 20px;
}
.wifi_container{
    margin-top: 20px;
    width: 100%;
}

.wifi_select_container{
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.loader {
    margin: auto;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #6972CF; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }